* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: 100vh;
    padding-right: 150px;
}

.shell {
    display: flex;
    align-items: center;
    position: relative;
    padding: 13px 0;
}

.carousel {
    position: relative;
    width: 520px;
    height: 500px;
    padding-top: 80px;
    perspective: 300px;
}

.boxs {
    width: 100%;
    height: 380px;    
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
}

.box {
    position: absolute;
    width: 600px;      
    height: 300px;     
    border: 2px solid #e8f4f8;
    border-radius: 10px;
    overflow: hidden;
    opacity: .7;
    display: flex;               
    flex-direction: row;
    background: #e8f4f8;    
}

.box img {
     width: 38%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;              
    margin-right: 20px;               
}

.box .info {
    width: 60%;                 
    padding: 15px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    justify-content: center;
}

.box .desc {
    font-size: 14px;
    opacity: 0.9;
    color: gray;
}

.box.selected {
    box-shadow:0 15px 35px rgba(167, 204, 225,1);
    border-width: 5px;
    opacity: 1;
}

.img-frame {
    width: 40%;
    height: 100%;
    border-radius: 15px;           
    overflow: hidden;                     
    padding: 6px;                
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

.img-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;          
}

