* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(110.41156444273497deg, rgba(248, 198, 215,1) 5.549738219895288%,rgba(175, 233, 249,1) 96.64921465968585%);
      background-size: cover;
    }

    #loading-screen {
      position: fixed;
      inset: 0;
      background:linear-gradient(110.41156444273497deg, rgba(248, 198, 215,1) 5.549738219895288%,rgba(175, 233, 249,1) 96.64921465968585%);
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #main {
      display: none;
    }

    #main {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #click-section {
      width: 35%;
      height: 100%;
      padding: 20px 0;
      position: relative;
    }

    #drawerboxes {
      margin-left: 10%;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    #drawerboxes::before {
      content: "";
      width: 8px;
      height: 94%;
      position: absolute;
      left: -10px;
      top: 3%;
      z-index: 120;
    }

    .drawerbox {
      height: calc(100% / 5.5);
      width: 70%;
      position: relative;
      z-index: 100;
      transform: translateX(-70%);
      transition: transform .5s ease-in-out;
    }

    .drawerbox.active {
      transform: translateX(0);
    }

    .drawer-btn {
      width: 100%;
      height: 100%;
      font: 800 30px '';
      background-image: linear-gradient(110.41156444273497deg, rgba(250, 143, 191,1) 5.549738219895288%,rgba(138, 176, 250,1) 96.64921465968585%);
      border: none;
      transition: background-color .5s ease-in-out;
      color: #ffffff00;
    }

    .drawer-btn.active {
      background-image: linear-gradient(110.41156444273497deg, rgba(248, 198, 215,1) 5.549738219895288%,rgba(175, 233, 249,1) 96.64921465968585%);
      background-size: cover;
      color: rgb(70, 100, 180);
    }

    .drawer-btn:hover {
      cursor: pointer;
    }

    .drawer-head {
      position: absolute;
      color: rgb(255, 255, 255);
      font-size: 200px;
      font-weight: 700;
      right: -38px;
      top: calc(50% - 135px);
      text-shadow: 2px -1px 8px rgba(250, 80, 193, 0.323);
    }

    #slide-section {
      position: relative;
      height: 100%;
      width: 65%;
      display: flex;
      justify-content: center;
      padding: 0 40px;
      background: linear-gradient(to right bottom,
          rgba(255, 255, 255, .6),
          rgba(255, 255, 255, .3),
          rgba(255, 255, 255, .2));
      backdrop-filter: blur(11px);
    }

    #slide-bar {
      position: absolute;
      top: 10%;
      left: 40px;
      height: 80%;
      width: 1px;
      background-color: rgb(223, 223, 223);
    }

    #card-section {
      height: 100%;
      width: 80%;
      overflow: hidden;
    }

    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 10% 0;
      color: white;
      font-size: 30px;
      transition: transform .5s ease-in-out;
    }

    .card-small-title {
      font-size: 30px;
      font-weight: 600;
      padding-bottom: min(5%, 10px);
      color: rgb(70, 100, 180);
    }

    .card-title {
      font-size: 80px;
      font-weight: 700;
      padding-bottom: min(20%, 40px);
      color: rgb(70, 100, 180);
    }

    .card-content {
      font-size: 24px;
      font-weight: 400;
      color: rgb(94, 123, 255);
      margin-bottom: 60px;
    }

   .iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}




